.sections {
  scroll-snap-type: y mandatory;
  /* overflow-y: scroll; */
}

.section1 {
  display: flex;
  align-items: center;
  scroll-snap-align: start;
}

.section1Content {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -20%);
  gap: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  gap: 1rem;
}

#section1Background {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 92vh;
  object-fit: cover;
  object-position: 50% 100%;
  /* z-index: -1; */
  filter: opacity(100%);
  /* background-size: cover; */
  /* background-repeat: no-repeat; */
}

#section1Title {
  flex: 1;
  color: var(--ColorPalette5);
  font-family: "Londrina Solid", sans-serif;
  text-shadow: #081826 0px 0px 10px;
  text-align: center;
  font-weight: 500;
  font-size: 2rem;
}

.section1Paragraph {
  color: var(--ColorPaletteWhite);
  font-family: "Londrina Solid", sans-serif;
  text-shadow: #081826 0px 0px 10px;
  text-align: center;
  font-weight: 300;
  font-size: 1.2rem;
}
.section1OrangeSpan {
  color: var(--ColorPalette4);
}

.section2 {
  scroll-snap-align: start;
  display: block;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.section2 h2 {
  z-index: 1;
  color: var(--ColorPaletteWhite);
  font-weight: 100;
}

.section-slideshow {
  height: 60vh; /* warning this is hard coded relative to the height of the images because i couldn't remember how to properly make parent take height of child*/
}

.section-slideshow img {
  position: absolute;
  /* top: 0; */
  left: 0;
  width: 100%; /* relative to nearest positioned ancestor and not nearest block-level ancestor - alternatively: width: 100vw; */
  height: 60vh; /* relative to nearest positioned ancestor and not nearest block-level ancestor - alternatively: height: 100vh; */
  object-fit: cover;
  z-index: 0;
  filter: brightness(
    50%
  ); /* 0% black, 100% original image, values > 100% are allowed for brighter than original image. */
  /* display: none; */
  opacity: 0;
  transition: opacity 0.75s ease-in-out;
}

.section-slideshow img:first-child {
  display: block;
  opacity: 1;
}

.section3 {
  scroll-snap-align: start;
  display: block;
  position: relative;
  /* display: flex; */
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding: 1rem;
  color: var(--ColorPalette5);
  background-color: var(--ColorPalette6);
  overflow: hidden;
}
#section3Title {
  color: var(--ColorPalette4);
  font-family: "Londrina Solid", sans-serif;
  /* text-shadow: #081826 0px 0px 1px; */
  text-align: center;
  font-weight: 500;
  font-size: 2rem;
}
#section3Background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  object-fit: cover;
  background-repeat: repeat-y;
  object-position: 50% 100%;
  z-index: 1;
  filter: opacity(100%);
}
#section3Background2 {
  display: none;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: auto;
  object-fit: cover;
  background-repeat: repeat-y;
  object-position: 50% 100%;
  z-index: 1;
  filter: opacity(100%);
}

.section3Content {
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  gap: 1rem;
}
.section3ContentCards {
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
  justify-content: center;
}
.section4 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: calc(
    calc(100 / 567) * 120vw
  ); /* fucking hell 567 is the width of the picture */
  position: relative;
  gap: 1rem;
  color: var(--ColorPalette5);
  background-color: var(--ColorPalette7);
  padding-bottom: 0; /* Make sure there is no bottom padding */
  margin-bottom: 0; /* Make sure there is no bottom margin */

  z-index: 3;
}

#section4Background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  object-fit: contain;
  object-position: 50% 20%;
  z-index: 1;
  filter: opacity(100%);
  transform: translate(0, -20%);
}
#section4Title {
  color: var(--ColorPaletteWhite);
  font-family: "Londrina Solid", sans-serif;
  /* position: absolute; */
  /* text-shadow: #081826 0px 0px 1px; */
  text-align: center;
  font-weight: 500;
  font-size: 2rem;
  z-index: 3;
}
.section4 .registerButton {
  width: 31vw;
  min-height: 3rem;
}
.section5 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;

  color: var(--ColorPaletteWhite);
  background-color: var(--ColorPalette8);
  padding-top: 0; /* Adjust or remove padding */
  margin-top: 0; /* Adjust or remove margin */
}
#section5Title {
  padding: 1rem;
  font-weight: 500;
  font-size: 2rem;
}

@media screen and (max-width: 768px) {
  #section3Background2 {
    display: block;
  }
  .section1Content {
    align-items: center;
    top: inherit;
    left: inherit;
    transform: inherit;
    padding: 1rem;
  }
}

/* @media screen and (max-width: 900px) {
  .section3ContentCards {
    flex-basis: 33%;
  } 
}

@media screen and (max-width: 600px) {
  .section3ContentCards {
    flex-basis: 50%;
  } 
}

@media screen and (max-width: 300px) {
  .section3ContentCards {
    flex-basis: 100%;
  } 
} */
