/* BEGIN: Form Styles */
form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  width: -webkit-fill-available;

  gap: 1rem;
  flex: 1;
}

.registerFormElement {
  background-color: transparent;
  border: 2px solid #eee;
  border-radius: 5px;
  padding: 10px;
  color: var(--ColorPaletteWhite);
  width: 80%;
  flex-grow: 1;
  flex: 1;
  color: var(--RegisterTextColor);
  font-family: "Poppins", sans-serif;
  font-weight: 200;
}

.registerFormElement::placeholder {
  color: var(--ColorPaletteWhite);
  font-weight: 200;
}

.registerFormElement:focus {
  color: var(--ColorPaletteWhite);
  /* font-weight: bold; */
}
.registerFormElement option {
  color: var(--ColorPaletteBlack);
}
.registerFormElement {
  font-weight: 400;
}
/* END: Form Styles */

.registerContent {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -15%);
  display: grid;
  gap: 1.5rem;

  background-color: var(--BackgroundColor);
  filter: drop-shadow(0px 0 40px rgba(var(--CardShadowColor), 0.2));
  width: 60%;
  border-radius: 1rem;
  padding: 3rem;
  flex: 1;
}

#section1Background {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 92vh;
  object-fit: cover;
  object-position: 50% 100%;
  /* z-index: -1; */
  filter: opacity(100%);
  /* background-size: cover; */
  /* background-repeat: no-repeat; */
}

#registerTitle {
  flex: 1;
  color: var(--ColorPalette5);
  font-family: "Londrina Solid", sans-serif;
  text-shadow: #081826 0px 0px 10px;
  text-align: center;
  font-weight: 500;
  font-size: 2rem;
}

#registerParagraph {
  color: var(--ColorPaletteWhite);
  text-shadow: #081826 0px 0px 10px;
  text-align: center;
  font-weight: 300;
  font-size: 1rem;
}
#submit {
  width: auto;
  padding: 0.6rem 2rem;
  background-color: var(--ColorPaletteWhite);
  color: var(--ColorPaletteBlack);
  font-weight: 800;
  font-size: 1rem;
  font-family: "Poppins", sans-serif;
}
#Logo {
  width: 60%;
  place-self: center;
  object-fit: cover;
}
@media screen and (max-width: 470px) {
  .registerContent {
    width: 80%;
  }
  #Logo {
    width: 80%;
  }
}
