.registerButton {
  background-color: var(--ColorPalette1);
  color: var(--ColorPaletteWhite);
  font-family: "Londrina Solid", sans-serif;
  text-align: center;
  font-weight: 500;
  font-size: 1.5rem;
  cursor: pointer;
  border: none;
  outline: none;
  z-index: 4;
  border-radius: 5px;
  padding: 0.1rem 4rem;
}
