/* colors */
:root {
  --HeaderColor: #eea40b;
  --HeaderTextColor: #081826;
  --HeaderShadowColor: #b38423;
  --ColorPaletteWhite: #fff;
  --ColorPaletteBlack: #000;
  --BackgroundColor: #003e1a;
  --ColorPalette1: #d63e1a; /* Primary Red */
  --ColorPalette2: #69a050; /* Primary Green*/
  --ColorPalette3: #eebc53; /* Primary Yellow*/
  --ColorPalette4: #c13817; /* Section 3 Title */
  --ColorPalette5: #fab341; /* Section 1 Title */
  --ColorPalette6: #e1ba5b; /* Section 3 Background */
  --ColorPalette7: #802510; /* Section 4 Background */
  --ColorPalette8: #121212; /* Section 5 Background MTC*/
  --ColorPalette9: #7a4690; /* MTC Color */
  --CardShadowColor: 0, 0, 0;
}
#hiddenForm {
  display: none;
}
#content {
  display: grid;
}
html {
  scroll-behavior: smooth;
}
body {
  display: flex;
  flex-direction: column;
  background-color: var(--BackgroundColor);
}

/* book */
#bookImg {
  width: 50%;
  height: auto;
  object-fit: cover;
  filter: opacity(100%);
  box-shadow: var(--ColorPalette4) 0px 0px 10px 1px;
}
#buyButton {
  background-color: var(--ColorPalette2);
  color: var(--ColorPalette5);
  border: none;
  border-radius: 5px;
  padding: 0.5rem 1rem;
  font-size: 1.2rem;
  font-weight: 300;
  cursor: pointer;
  transition: 0.3s;
}

/* contact */
.contactLogos {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
/* footer */
